@import 'base';

/* CSS files add styling rules to your content */
body {
  font-family: Inter, system-ui;
  margin: 0;
  display: grid;
  grid-template-rows: [header] 56px [content] 1fr;
  grid-template-columns: repeat(3, 1fr);
}

header {
  grid-row: header;
  grid-column: 1 / -1; /* full width */
  border: 2px solid #000;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

header span {
  display: flex;
  align-items: baseline;
}

header h1 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 0.25em;
}

.easing {
  --dot-width: 36px;
  --padding: 32px;
  border: 2px solid #000;
  border-top-width: 0px;
  border-left-width: 0px;
  height: calc((100vh - 56px) / 2);
  padding: var(--padding);
  position: relative;
  display: grid;
  grid-template-rows: [title] min-content [content] 1fr;
}

/* select every third item (3n), including the first (+1) and turn back on its border */
.easing:nth-of-type(3n + 1) {
  border-left-width: 2px;
}

.easing h2 {
  grid-row: title;
  font-weight: 500;
  font-size: 18px;
}

.dot {
  grid-row: content;
  align-self: center;
  width: 36px;
  height: 36px;
  background: black;
  transition-property: all;
  transition-duration: 800ms;
  /* opacity: 0; */
}

.easing:hover .dot {
  /* opacity: 1; */
  transform: translateX(calc(33vw - var(--dot-width) - (var(--padding) * 2)));
}
