@import 'base';

body {
  font-family: Inter, system-ui;
  margin: 0;
  display: grid;
  grid-template-rows: [header] 56px [content] 1fr;
  grid-template-columns: repeat(3, 1fr);
}

header {
  grid-row: header;
  grid-column: 1 / -1; /* full width */
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

header div {
  display: flex;
  align-items: baseline;
}

header div > span {
  margin-left: 24px;
}

header h1 {
  font-weight: 500;
  font-size: 20px;
  margin-right: 0.25em;
}

.easing {
  --dot-width: 36px;
  --padding: 32px;
  --moveToEdge: calc(33vw - var(--dot-width) - (var(--padding) * 2));
  border: 2px solid #000;
  border-top-width: 0px;
  border-left-width: 0px;
  height: calc((100vh - 56px) / 2);
  padding: var(--padding);
  position: relative;
  display: grid;
  grid-template-rows: [header] min-content [content] 1fr;
}

.easing__header {
  grid-row: header;
  display: flex;
  align-content: baseline;
  justify-content: space-between;
}

.easing h2 {
  font-weight: 500;
  font-size: 18px;
}

.easing__footer {
  
  display: flex;
  align-content: baseline;
  justify-content: space-between;
}

.easing__help-text {
  color: #a1a1a1;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.easing:hover .easing__help-text {
  opacity: 1;
  transition-delay: 1s
}

.clicked .easing__help-text {
  opacity: 0;
}

.toast {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;

  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}

.toast-show .toast {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 1.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* select every third item (3n), including the first (+1) and turn back on its border */
.easing:nth-of-type(3n + 1) {
  border-left-width: 2px;
}

.dot {
  grid-row: content;
  align-self: center;
  width: 36px;
  height: 36px;
  background: black;
  transition-property: all;
  transition-duration: 800ms;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  /* opacity: 0; */
}

.easing:hover .dot {
  animation-name: metronome;
}

@keyframes metronome {
  0% {
    transform: translateX(0);
  }
  45%,
  55% {
    transform: translateX(var(--moveToEdge));
  }
  90%,
  100% {
    transform: translateX(0);
  }
}

/* Animations to fade the snackbar in and out */


@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}



@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
