---
layout: base
---

h1 Hello from Pug
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, porro error animi dolorem illo assumenda necessitatibus officia aperiam aliquam hic mollitia praesentium quasi. Eveniet amet veniam, officiis ab vel pariatur?
a(href="/") Back home to the HTML page