---
layout: base
title: Easing
---

header
   span 
    h1 Easing
    code v1.0

for val in easings
  section.easing(id=`${val.name}`)
    h2= val.name
    div.dot(style=`transition-timing-function: ${val.css}; animation-timing-function: ${val.css}`)
