---
layout: base
title: Easing
---

header
   span 
    h1 Easing
    code v1.0

for val in easings
  section.easing(id=`${val.name}`)
    //- refactor this to be a semantic header
    div.easing__header
      h2= val.name
      span.easing__alert Copied to Clipboard
    div.dot(style=`transition-timing-function: ${val.css}; animation-timing-function: ${val.css}`)
